@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import "./ocean.css";

@import '@skeletonlabs/skeleton-svelte';
@custom-variant dark (&:where(.dark, .dark *));

/* Add your theme import for your theme: "ocean" here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	font-display: block;
	src: url('/fonts/MaterialSymbolsOutlined.woff2') format('woff2');
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga' 1, 'clig' 1;
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	@apply h-dvh overflow-hidden;
}
