@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import "./ocean.css";

@import '@skeletonlabs/skeleton-svelte';
@custom-variant dark (&:where(.dark, .dark *));

/* Add your theme import for your theme: "ocean" here */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	@apply h-dvh overflow-hidden;
}
